<div class="container">
<div class="row header">
<button type="button" class="btn btn-primary"> Back </button> 
</div>
<div class="row">
<div class="child-single">
<ul>
<li class="first">
  <div>
    <img src="http://www.clker.com/cliparts/5/9/4/c/12198090531909861341man%20silhouette.svg.med.png">
    <span>
	    <h2>{{babyDetails.name}}</h2>
    </span>
  </div>
</li>

<li>
  <div>
	  <p><b>Age:</b>&nbsp;{{babyDetails.age}}</p>
	  <p><b>Birthday:</b>&nbsp;{{babyDetails.dob}}</p>
	  <p><b>Notes:</b>&nbsp;{{babyDetails.notes}}</p>
  </div>
</li>
</ul>
</div>
</div>
</div>
