<section id="main">
<div class="row">
	<nav id="secondary" class="main-nav">
		<div class="row header">
	      <input type="text" placeholder="Search" class="form-control max-width">
	    </div>

		<div class="row">
			<div class="friend-name">
		      <ul>
		        <li>
		          <div>
		            <img src="img/temp-person.png">
		            <span>
		              <h2>Angelina Jolie</h2>
		              <button>Rawr</button>
		            </span>
		          </div>
		        </li>

		        <li>
		          <div>
		            <img src="temp-person.png">
		            <span>
		              <h2>Beyonce</h2>
		            </span>
		          </div>
		        </li>

		        <li>
		          <div>
		            <img src="temp-person.png">
		            <span>
		              <h2>Brad Pitt</h2>
		            </span>
		          </div>
		        </li>
		      </ul>
		    </div>
		</div>
	</nav>
</div>
</section>
