<section id="main">
<div class="row">
	<nav id="secondary" class="main-nav">
		<h1>Home</h1>
		<div class="row">
			<div class="friend-name">
		      <ul>
		        <li>
		          <div>
		            <img src="temp-person.png">
		            <span>
		              <h2>Name</h2>
		            </span>
		          </div>
		        </li>

		        <li>
		          <div>
		            <img src="temp-person.png">
		            <span>
		              <h2>Name</h2>
		            </span>
		          </div>
		        </li>

		        <li>
		          <div>
		            <img src="temp-person.png">
		            <span>
		              <h2>Name</h2>
		            </span>
		          </div>
		        </li>
		      </ul>
		    </div>
		</div>
	</nav>
</div>
</section>
