<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Know dat baby</title>
  <link rel="stylesheet" href="app.css"/>
  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>
  <script src="filters.js"></script>
  <script src="directives.js"></script>
</head>
<body ng-app="whodatbaby">
  <ul class="menu">
    <li><a href="#/getBabies/100/100">view1</a></li>
  </ul>
  <div class="container">
	  <ng-view></ng-view>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="bootstrap.min.js"></script>
</body>
</html>
